<?xml version="1.0" ?>
<!-- Macro to insert the sydneyregatta into the world -->
<world xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sydneyregatta">
    <scene>
      <sky>
        <clouds>
          <speed>12</speed>
        </clouds>
      </sky>
      <grid>0</grid>
      <origin_visual>0</origin_visual>
    </scene>
    <!-- Estimated latitude/longitude of sydneyregatta from satellite imagery -->
    <spherical_coordinates>
      <surface_model>EARTH_WGS84</surface_model>
      <world_frame_orientation>ENU</world_frame_orientation>
      <latitude_deg>30.007210886</latitude_deg>
      <longitude_deg>107.271178099</longitude_deg>
      <elevation>0.0</elevation>
      <heading_deg>0.0</heading_deg>
    </spherical_coordinates>

    <!-- A global light source -->
    <include>
      <uri>model://sun</uri>
    </include>

    <gui fullscreen='0'>
      <camera name='user_camera'>
        <pose>-303.154663 425.201538 139.402588 0.0 0.376342 -0.899135</pose>
        <view_controller>orbit</view_controller>
      </camera>
    </gui>

    <include>
      <pose> 0 0 -5 0 0 0 </pose>
      <static>true</static>
      <gravity> false </gravity>
      <uri>model://mode_test</uri>
    </include>

    <include>
      <name>marker2</name>
      <pose>78 185 0 0 0</pose>
      <uri>model://mb_marker_buoy_red</uri>
    </include>
    <include>
      <name>marker3</name>
      <pose>144 -156 0 0 0  0</pose>
      <uri>model://mb_marker_buoy_red</uri>
    </include>
    <include>
      <name>marker4</name>
      <pose>-147 -70  0 0  0</pose>
      <uri>model://mb_marker_buoy_red</uri>
    </include>

    <!-- 添加的正方体模型，已设置为红色 -->
<model name="cube">
  <pose>0 0 5 0 0 0</pose>
  <static>true</static>
  <link name="link">
    <visual name="visual">
      <geometry>
        <box>
          <size>10 10 10</size>
        </box>
      </geometry>
      <material>
        <script>
          <name>Gazebo/Red</name>
        </script>
      </material>
    </visual>
    <collision name="collision">
      <geometry>
        <box>
          <size>10 10 10</size>
        </box>
      </geometry>
    </collision>
  </link>
</model>

  </xacro:macro>
</world>